@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab&display=swap");
.raleway {
  font-family: 'Raleway', sans-serif;
}

.roboto {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none !important;
}

.btn-primary {
  background-color: #26b3bf !important;
  border-color: #26b3bf !important;
  border-radius: 0px !important;
}

.btn-primary a {
  color: white;
}

.btn-primary:hover {
  background-color: #F5F2F2 !important;
}

.btn-primary:hover a {
  color: #26b3bf !important;
}

.logo {
  width: 30px;
}

nav {
  z-index: 2;
  background: white;
  position: absolute;
}

nav .toggle-container {
  display: inline-block;
  cursor: pointer;
}

nav .sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 50;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: white;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

nav .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  opacity: 0;
}

nav .fadeIn {
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

nav .fadeout {
  -webkit-animation: fadeOut 0.1s forwards;
          animation: fadeOut 0.1s forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

nav .navbar-toggler-icon {
  position: absolute;
  z-index: 100 !important;
  right: 50px;
  color: black;
  cursor: pointer;
}

nav a {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 1rem;
}

nav .nav-link {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.page-title {
  font-size: 5rem;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .page-title {
    font-size: 3rem;
  }
}

#introduction {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #F5F2F2;
  font-size: 1rem;
}

#introduction strong {
  font-weight: bold;
}

#footer {
  text-align: center;
  color: white;
  background: black;
}

#footer #icons8 {
  font-size: 10px;
}

#footer #icons8 a {
  color: #6c757d !important;
}

@media (max-width: 576px) {
  #footer #feeter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.series-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header .background-container {
  background: #000 url(../img/student_working.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  background-position: center;
  color: white;
  position: relative;
  z-index: 0;
  background-attachment: fixed;
}

#header .background-container .background-overlay {
  background: black;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .position-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .positions {
  margin-top: 50px;
}

.position-logo {
  width: 250px;
  height: 250px;
}

.position-logo img {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=page07_opportunities.css.map */