@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab&display=swap");
.raleway {
  font-family: 'Raleway', sans-serif;
}

.roboto {
  font-family: 'Roboto Slab', sans-serif;
}

a {
  text-decoration: none !important;
}

.btn-primary {
  background-color: #26b3bf !important;
  border-color: #26b3bf !important;
  border-radius: 0px !important;
}

.btn-primary a {
  color: white;
}

.btn-primary:hover {
  background-color: #F5F2F2 !important;
}

.btn-primary:hover a {
  color: #26b3bf !important;
}

.navbar {
  padding: 0rem 1rem;
}

.navbar a {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.page-title {
  font-size: 5rem;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .page-title {
    font-size: 3rem;
  }
}

#introduction {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #F5F2F2;
}

#footer {
  text-align: center;
  color: white;
  background: black;
}

body {
  background-color: #f5f2f2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23187091' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23317eb5' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%235cadc0' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%236fbcbe' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23679ec3' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23457894' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%236f98c8' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%234394be' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2353649c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%233187c1' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%238895cc' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23223768' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

body iframe {
  width: 100%;
  height: 50vh;
}

#header .background-container {
  background: #000 url(../static/img/stage.gif) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  color: white;
  position: relative;
  z-index: 0;
  background-attachment: fixed;
}

#header .background-container .background-overlay {
  background: black;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#introduction {
  font-size: 1.5rem;
  text-align: center;
  background: #F5F2F2;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.75);
}

.modal-open {
  padding: 0 !important;
  overflow-y: auto;
}

.modal-title {
  font-family: 'Raleway', serif !important;
  text-transform: uppercase;
  margin-left: auto;
}

.modal-dialog {
  max-width: 700px;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#summits {
  position: relative;
}

#summits #events-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#summits #events-flex-container #ambassador-visit-img {
  background: url(../static/img/summits/leaders_forum.jpg);
  background-size: cover;
  height: 400px;
  width: 500px;
}

#summits #speaker-container-section .btn {
  height: 100%;
  width: 100%;
}

#summits #speaker-container-section .btn:hover {
  border: #4fbfc9 solid 5px;
}

#summits #speaker-container-section .speaker-container {
  padding: 0px 5px 0px 5px;
  margin: 35px 0px 35px 0px;
  width: 200px;
  height: 200px;
}

#summits #speaker-container-section .speaker-name {
  color: black;
  font-size: 20px;
  margin-bottom: 0;
}

#summits #speaker-container-section #sarah-wells {
  background: url(../static/img/speakers/vision2020/sarah.gif);
  background-position: center;
}

#summits #speaker-container-section #dillon-mendes {
  background: url(../static/img/speakers/vision2020/dillon.gif);
  background-position: center;
}

#summits #speaker-container-section #shadille-estepan {
  background: url(../static/img/speakers/vision2020/shadille.gif);
  background-position: center;
}

#summits #day-two-container-section a {
  text-decoration: none;
  color: black;
  text-shadow: none;
}

#summits #day-two-container-section a:hover {
  color: #4fbfc9;
}

#summits #day-two-container-section p {
  font-size: 20px;
  text-align: left;
}

#summits #day-two-container-section i {
  color: #26b3bf;
  margin-left: -20px;
  padding-right: 10px;
}

#summits #day-two-container-section ul {
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
}

#summits #day-two-container-section .workshop-desc p {
  color: black;
  text-shadow: none;
  font-size: 14px;
}

#summits #day-two-container-section .workshop-desc .workshop-logo {
  width: 25%;
  padding: 1rem;
}

#summits #day-two-container-section .workshop-desc .workshop-logo img {
  width: 100%;
}

#summits #day-two-container-section .card-header {
  padding: 10px 0px 0px 30px;
}

#summits #day-two-container-section .card-body {
  padding: 10px 10px 0px 0px;
}

#summits #speakers-container .img-container {
  width: 200px;
  height: 200px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#summits #speakers-container .img-container-1 {
  width: 150px;
  height: 150px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#summits #speakers-container .speaker-name-1 {
  font-family: 'Roboto Slab';
  color: black;
  font-size: 20px;
  padding-top: 155px;
}

#summits #speakers-container #josh {
  background: url(../static/img/speakers/vision2020/josh.gif);
  background-position: center;
}

#summits #speakers-container #paul {
  background: url(../static/img/speakers/vision2020/paul.gif);
  background-position: center;
}

#summits #speakers-container #carla {
  background: url(../static/img/speakers/vision2020/carla.gif);
  background-position: center;
}

#summits #speakers-container #ty {
  background: url(../static/img/speakers/vision2020/tyler.gif);
  background-position: center;
}

#summits #speakers-container #lauren {
  background: url(../static/img/speakers/vision2020/lauren.gif);
  background-position: center;
}

#summits #speakers-container #chris {
  background: url(../static/img/speakers/vision2020/chris.gif);
  background-position: center;
}

#summits #event-details-container {
  padding: 10px 10px 10px 10px;
}

@media (max-width: 766px) and (min-width: 300px) {
  #summits #event-details-container {
    padding: 0 0 0 0;
  }
}

#summits #insights-from {
  margin: 0;
}

@media (max-width: 766px) and (min-width: 300px) {
  #summits #insights-from {
    margin-top: 50px;
  }
}

#summits #paul-woida-container {
  position: relative;
}

#summits #paul-woida-container .img-container {
  margin: 15px 0px 15px 15px;
}

@media (max-width: 766px) and (min-width: 300px) {
  #summits #paul-woida-container .img-container {
    margin: 15px 0px 15px 0px;
  }
}

#summits #paul-woida-container .img-container .img-fluid {
  max-width: 100%;
}

#summits #paul-woida-container .beside-img-container {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 50px;
}

#summits #paul-woida-container .beside-img-container h1 {
  color: black;
  text-shadow: none;
}

#summits #paul-woida-container .beside-img-container p {
  color: black;
  text-shadow: none;
}

#past-events h1 {
  text-align: center;
  color: white;
  text-shadow: 3px 3px 10px black;
}

#past-events p {
  text-align: center;
  color: white;
  text-shadow: 3px 3px 10px black;
}

#past-events .events-container {
  padding: 80px 0px 80px 0px;
}

#past-events img {
  border-radius: 10px;
  -webkit-box-shadow: white 0px 0px 10px;
          box-shadow: white 0px 0px 10px;
}

#past-summits h1 {
  text-align: center;
  color: white;
  text-shadow: 3px 3px 10px black;
}

#past-summits p {
  text-align: center;
  color: white;
  text-shadow: 3px 3px 10px black;
}

#past-summits .past-conferences-container {
  padding-left: 30px;
  padding-right: 30px;
}

#past-summits .past-conferences-container .single-conference-container {
  width: 300px;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 80px;
  margin-bottom: 20px;
  border: white solid 2px;
  -webkit-box-shadow: #F5F2F2 0px 0px 10px;
          box-shadow: #F5F2F2 0px 0px 10px;
  border-radius: 10px;
}

#past-summits .past-conferences-container .single-conference-container .conference-text {
  padding-top: 300px;
  color: white;
}

#past-summits .past-conferences-container .single-conference-container .conference-text p {
  font-size: 20px;
  margin-bottom: 2px;
}

#past-summits .past-conferences-container #intensive-conference-1 {
  background: url(../static/img/summits/edmonton1.jpg);
  background-size: cover;
  background-position: center;
}

#past-summits .past-conferences-container #intensive-conference-2 {
  background: url(../static/img/summits/edmonton2.jpg);
  background-size: cover;
  background-position: center;
}

#past-summits .past-conferences-container #intensive-conference-3 {
  background: url(../static/img/summits/edmonton3.jpg);
  background-size: cover;
  background-position: center;
}

#past-summits .past-conferences-container #china-1 {
  background: url(../static/img/summits/schools/hope_international_school.gif);
  background-size: cover;
  background-position: center;
}

#past-summits .past-conferences-container #china-2 {
  background: url(../static/img/summits/schools/beijing_city_international_school.gif);
  background-size: cover;
  background-position: center;
}

#past-summits .past-conferences-container #china-3 {
  background: url(../static/img/summits/schools/qingdao_amerasia_international_school.gif);
  background-size: cover;
  background-position: center;
}

#past-summits .past-conferences-container #china-4 {
  background: url(../static/img/summits/schools/concordia_international_school.gif);
  background-size: cover;
  background-position: center;
}

#past-summits .past-conferences-container #china-5 {
  background: url(../static/img/summits/schools/suzhou_international_school.gif);
  background-size: cover;
  background-position: center;
}

#text-beside-pencil h1 {
  font-size: 35px;
}

#text-beside-pencil h3 {
  color: black;
  text-shadow: none;
}

#text-beside-pencil p {
  color: black;
  font-size: 1rem;
}

.blue-border {
  background: white;
  border: #26b3bf solid 5px;
}

@media (max-width: 576px) {
  #current-event .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #current-event img {
    width: 80%;
  }
}
/*# sourceMappingURL=page04_events.css.map */