@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab&display=swap");
.raleway {
  font-family: 'Raleway', sans-serif;
}

.roboto {
  font-family: 'Roboto Slab', sans-serif;
}

a {
  text-decoration: none !important;
}

.btn-primary {
  background-color: #26b3bf !important;
  border-color: #26b3bf !important;
  border-radius: 0px !important;
}

.btn-primary a {
  color: white;
}

.btn-primary:hover {
  background-color: #F5F2F2 !important;
}

.btn-primary:hover a {
  color: #26b3bf !important;
}

.logo {
  width: 30px;
}

nav {
  z-index: 2;
  background: white;
  position: absolute;
}

nav .toggle-container {
  display: inline-block;
  cursor: pointer;
}

nav .sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 50;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: white;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

nav .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  opacity: 0;
}

nav .fadeIn {
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

nav .fadeout {
  -webkit-animation: fadeOut 0.1s forwards;
          animation: fadeOut 0.1s forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

nav .navbar-toggler-icon {
  position: absolute;
  z-index: 100 !important;
  right: 50px;
  color: black;
  cursor: pointer;
}

nav a {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 1rem;
}

nav .nav-link {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.page-title {
  font-size: 5rem;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .page-title {
    font-size: 3rem;
  }
}

#introduction {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #F5F2F2;
  font-size: 1.5rem;
}

#footer {
  text-align: center;
  color: white;
  background: black;
}

#footer #icons8 {
  font-size: 10px;
}

#footer #icons8 a {
  color: #6c757d !important;
}

@media (max-width: 576px) {
  #footer #feeter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.series-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header .background-container {
  background: #000 url(../static/img/ways_to_give/background.webp) no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  background-position-y: -250px;
  color: white;
  position: relative;
  z-index: 0;
  background-attachment: fixed;
}

#header .background-container .background-overlay {
  background: black;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#ways_to_give {
  background-color: #1e1f55;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%231e1f55' cx='50' cy='0' r='50'/%3E%3Cg fill='%231c2961' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2319346d' cx='50' cy='100' r='50'/%3E%3Cg fill='%23133e78' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23084984' cx='50' cy='200' r='50'/%3E%3Cg fill='%2300538f' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23005e99' cx='50' cy='300' r='50'/%3E%3Cg fill='%230069a3' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%230074ad' cx='50' cy='400' r='50'/%3E%3Cg fill='%230080b6' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23008bbf' cx='50' cy='500' r='50'/%3E%3Cg fill='%230097c7' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300a2cf' cx='50' cy='600' r='50'/%3E%3Cg fill='%2300aed6' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300b9dc' cx='50' cy='700' r='50'/%3E%3Cg fill='%2300c5e3' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300d1e8' cx='50' cy='800' r='50'/%3E%3Cg fill='%2328dcee' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%233ee8f2' cx='50' cy='900' r='50'/%3E%3Cg fill='%2352f3f7' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2365fffb' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

#ways_to_give .padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

#ways_to_give .padding_between {
  padding-top: 15px;
  padding-bottom: 15px;
}

#ways_to_give .gray_box {
  background: rgba(0, 0, 0, 0.5);
}

#ways_to_give .gray_box .left_box {
  background: rgba(0, 0, 0, 0.5);
  margin-left: -15px;
  height: 200px;
  width: 200px;
}

#ways_to_give .gray_box .price {
  padding-top: 15px;
  padding-left: 1.5rem;
}

#ways_to_give .gray_box .lead {
  font-size: 25px;
  padding-left: 30px;
  font-weight: bold;
}

#ways_to_give .gray_box p {
  color: white;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1rem;
}

#ways_to_give .gray_box h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
}

#ways_to_give .gray_box ul {
  list-style-type: circle;
  color: white;
}
/*# sourceMappingURL=page06_waystogive.css.map */