{% extends "page00_skeleton.html" %}
{% block title %}Courses{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/page09_courses.css') }}">
<div class="container-fluid" id="course-header">
    <h1 class="page-title text-center">
        Courses
    </h1>
</div>
<div class="container-fluid" id="content">

    <div class="course container">
        <img class="img-fluid course-img" style="padding-top: 50px; padding-bottom: 50px;" src="{{ url_for('static', filename='img/course/clear_on_you.jpg') }}" alt="" id="clear-on-you-photo">
        <div class="course-desc">
            <h1 class="course-title raleway"> <strong>Personal Leadership:</strong></h1>
            <h3 class="course-subtitle raleway">Getting Clear On You</h3>
            <p class="roboto"> 
                Personal leadership is about getting clear on you, choosing a target forward, and building a plan to get there. This course walks you through those three steps to have you aiming at the type of success that’s right for you.
                <br>
                <ul>
                    <li>Two Module Course</li>
                </ul>
            </p>
            <a target="_blank" href="https://youngleaders-world.mykajabi.com/personal-leadership-courses"><button class="btn btn-primary">MORE INFO</button></a>
        </div>
    </div>

    <div class="course container">
        <img class="course-img" style="padding-top: 50px; padding-bottom: 50px;" src="{{ url_for('static', filename='img/course/clarity_and_confidence.jpg') }}" alt="" id="mindset-photo">
        <div class="course-desc">
            <h1 class="course-title raleway"> <strong>Clarity & Confidence:</strong></h1>
            <h3 class="course-subtitle raleway">A Step-by-Step plan for Students</h3>
            <p class="roboto"> 
                Are you the student who feels overrun by anxiety and has swirling questions about your future? If so, you’re not alone. Many students today are feeling consumed by unhelpful thoughts and self-talk. This course offers clear steps to regain your clarity and confidence.
                <br>
                <ul>
                    <li>Six Module Course</li>
                </ul>
            </p>
            <a target="_blank" href="https://youngleaders-world.mykajabi.com/personal-leadership-courses"><button class="btn btn-primary">MORE INFO</button></a>
        </div>
    </div>

    <div class="course container">
        <img class="img-fluid course-img"  src="{{ url_for('static', filename='img/course/leadership_launch.jpg') }}" alt="" id="mindset-photo">
        <div class="course-desc">
            <h1 class="course-title raleway"> <strong>Leadership Launch:</strong></h1>
            <h3 class="course-subtitle raleway">Getting Motivated and Taking Action</h3>
            <p class="roboto"> 
                Details for this course are coming soon
            </p>
            <a target="_blank" href="https://youngleaders-world.mykajabi.com/personal-leadership-courses"><button class="btn btn-primary">MORE INFO</button></a>
        </div>
    </div>

    <div class="course container">
        <img class="img-fluid course-img" style="padding-top: 50px; padding-bottom: 50px;" src="{{ url_for('static', filename='img/main/course-success-series.jpg') }}" alt="">
        <div class="course-desc">
            <h1 class="course-title raleway">Free Student Success Video Series</h1>
            <div class="roboto">
                <p>Topics include:</p>
                <ul>
                    <li>Managing Motivation</li>
                    <li>Establishing A Productive Daily Routine</li>
                    <li>Stress Management</li>
                </ul>
            </div>
            <a target="_blank" href="https://forms.gle/7JxhKc2NMEYx7AEU9"><button class="btn btn-primary">SIGN UP</button></a>
        </div>
    </div>
    
</div>

<div class="container-fluid" id="introduction">
    <p class="roboto"> <br><br> Questions about the courses? Email us at info@youngleaders.world <br><br> </p>
</div>

{% endblock content %}