{% extends "page00_skeleton.html" %}
{% block title %}About{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='css/page02_about.css')}}" />
<!-- HEADER -->
<section id="header">
    <div class="background-container d-flex justify-content-center align-items-center">
      <h1 class="page-title">ABOUT US</h1>
      <div class="background-overlay"></div>
    </div>
  </section>
  <!-- HEADER (END) -->

  <!-- MISSION & VISION -->
  <section id="mission_vision">
    <div class="container">
    <h1 class="raleway pt-4">Mission</h1>
      <div class="row pt-3">
        <div class="col wow fadeIn">
          <p class="roboto">To create a generation of young people leading for personal growth and collective good.</p>
        </div>
      </div>
      <div class="my-2"></div>
    <h1 class="raleway mt-4 mb-2">Vision</h1>
      <div class="row">
        <div class="col wow fadeIn">
          <p class="roboto">To reach 10,000,000 youth by 2025 with the skills to move forward with their lives with clarity, empathy and a capacity to act. We will support young people in overcoming barriers to their own personal success and teach them how to use their strengths. YoungLeaders.World will have a global network of leaders around the world who are empowered to make the world a better place. </p>
        </div>
      </div>
    </div>
  </section>
  <!-- MISSION(END)-->

  <!-- TEAM -->
  <section id="team" class="pt-4">
    <div class="text-center wow fadeIn">
        <h1 class="raleway mt-4 mb-4 text-center">Our Team</h1>
    </div>
    <div class="swiper-container wow fadeIn" data-wow-duration="1.5s">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div><img src="{{ url_for('static', filename='img/staff/carla_resize.jpg') }}" alt="Carla Cuglietta"></div>
          <div class="details">
            <h2>Carla Cuglietta</h2>
            <h3>Executive Director</h3>
            <!-- <h4><a href="#">Read More</a></h4> -->
          </div>
        </div>
        <div class="swiper-slide">
          <div><img src="{{ url_for('static', filename='img/staff/tyler_resize.jpg') }}" alt="Tyler Waye"></div>
          <div class="details">
            <h2>Tyler Waye</h2>
            <h3>Leadership Strategist</h3>
            <!-- <h4><a href="#">Read More</a></h4> -->
          </div>
        </div>
        <!-- <div class="swiper-slide">
          <div><img src="img/staff/julianna_resize.jpg" alt="Julianna Stern"></div>
          <div class="details">
            <h2>Julianna Stern</h2>
            <h3>Communications & Business Development <br> Intern </h3>
          </div>
        </div> -->
        <div class="swiper-slide">
          <div><img src="{{ url_for('static', filename='img/staff/john.png') }}" alt="John Bitancor"></div>
          <div class="details">
            <h2>John Bitancor</h2>
            <h3>Web Developer</h3>
            <!-- <h4><a href="#">Read More</a></h4> -->
          </div>
        </div>
        <div class="swiper-slide">
          <div><img src="{{ url_for('static', filename='img/staff/tyler_s_resize.jpg') }}" alt="Tyler Sirman"></div>
          <div class="details">
            <h2>Tyler Sirman</h2>
            <h3>Videographer</h3>
            <!-- <h4><a href="#">Read More</a></h4> -->
          </div>
        </div>
        <div class="swiper-slide">
          <div><img src="{{ url_for('static', filename='img/staff/lauren.jpg') }}" alt="Lauren White"></div>
          <div class="details">
            <h2>Lauren White</h2>
            <h3>Youth Advisor</h3>
            <!-- <h4><a href="#">Read More</a></h4> -->
          </div>
        </div>
        <div class="swiper-slide">
          <div><img src="{{ url_for('static', filename='img/staff/mackenzie.jpg') }}" alt="Mackenzie Parish"></div>
          <div class="details">
            <h2>Mackenzie Parish</h2>
            <h3>Communications</h3>
            <!-- <h4><a href="#">Read More</a></h4> -->
          </div>
        </div>
        <div class="swiper-slide">
          <div><img src="{{ url_for('static', filename='img/staff/ali_resize.jpg') }}" alt="Ali Gartner"></div>
          <div class="details">
            <h2>Ali Gartner</h2>
            <h3>Registration & Finance</h3>
            <!-- <h4><a href="#">Read More</a></h4> -->
          </div>
        </div>
        <div class="swiper-slide">
          <div><img src="{{ url_for('static', filename='img/staff/erin_resize.jpg') }}" alt="Erin Clyde"></div>
          <div class="details">
            <h2>Erin Clyde</h2>
            <h3>Production</h3>
            <!-- <h4><a href="#">Read More</a></h4> -->
          </div>
        </div>
        <div class="swiper-slide">
          <div><img src="{{ url_for('static', filename='img/staff/tatiana_resize.jpg') }}" alt="Tatiana Decore"></div>
          <div class="details">
            <h2>Tatiana Decore</h2>
            <h3>Social Media</h3>
            <!-- <h4><a href="#">Read More</a></h4> -->
          </div>
        </div>
        <div class="swiper-slide">
          <div><img src="{{ url_for('static', filename='img/staff/stephanie_resize.jpg') }}" alt="Stephanie Tran"></div>
          <div class="details">
            <h2>Stephanie Tran</h2>
            <h3>Graphic Design</h3>
            <!-- <h4><a href="#">Read More</a></h4> -->
          </div>
        </div>
        <div class="swiper-slide">
          <div><img src="{{ url_for('static', filename='img/staff/kalyssa_resize.jpg') }}" alt="Kalyssa Leicht"></div>
          <div class="details">
            <h2>Kalyssa Leicht</h2>
            <h3>Community Liason <br> High School Intern</h3>
            <!-- <h4><a href="#">Read More</a></h4> -->
          </div>
        </div>
        <div class="swiper-slide">
          <div><img src="{{ url_for('static', filename='img/staff/hali.jpg') }}" alt="Hali"></div>
          <div class="details">
            <h2>Hali Kahlon</h2>
            <h3>High School Intern</h3>
            <!-- <h4><a href="#">Read More</a></h4> -->
          </div>
        </div>
        <div class="swiper-slide">
          <div><img src="{{ url_for('static', filename='img/staff/hannah.jpg') }}" alt="Hannah Key"></div>
          <div class="details">
            <h2>Hannah Key</h2>
            <h3>High School Intern</h3>
            <!-- <h4><a href="#">Read More</a></h4> -->
          </div>
        </div>
        <div class="swiper-slide">
          <div><img src="{{ url_for('static', filename='img/staff/haerim.jpg') }}" alt="Kalyssa Leicht"></div>
          <div class="details">
            <h2>Haerim Kim</h2>
            <h3>High School Intern</h3>
            <!-- <h4><a href="#">Read More</a></h4> -->
          </div>
        </div>
        <div class="swiper-slide">
          <div><img src="{{ url_for('static', filename='img/staff/riti.jpg') }}" alt="Kalyssa Leicht"></div>
          <div class="details">
            <h2>Riti Shah</h2>
            <h3>High School Intern</h3>
            <!-- <h4><a href="#">Read More</a></h4> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- TEAM (END) -->

  <!-- HISTORY -->
  <section id="history">
    <div class="overlay"></div>
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h1 class="raleway mt-4 mb-4 text-center">Our History</h1>  
            </div>
        </div>
      <div class="row">
        <div class="col">
          <p class="lead">In late 2014, Carla Cuglietta, Sheldon Smart, and Tyler Waye founded YoungLeaders.World (formerly WE Stand). The goal was clear: encourage, engage, and inspire young people in Canada to launch their leadership journey in a way that created positive change at three levels – personal, local, and global.</p>
        </div>
      </div>
      <div class="row">
        <div class="col pb-5">
          <p class="lead">To take on this monumental task, they envisioned creating space where young people would come together to learn, dream, and set a clear path forward for themselves that ultimately benefited others. </p>
          <p class="lead">When 1400+ youth registered for the first summit, the team knew they had uncovered something special. And it wasn’t just the young people who were inspired by their vision. Local organizations rallied around the idea, and provided an overwhelming amount of support that allowed the first ever “WE Stand. WE Lead.” Summit to take place with mind-blowing success.</p>
          <p class="lead">Shortly after, a larger team of passionate volunteers assembled around the common purpose of engaging and motivating young people to lead in their own way. The injection of energy came just in time, because in late 2015, WE Stand went global. Our first international experience was the WE Stand. WE Go. leadership trip trip to India. Immediately following that adventure, a WE Stand. WE Lead. Summit was held in China, introducing the message of personal growth and collective good to a whole new audience.</p>
          <p class="lead">We’re bold, we know. But our plans are big, and so are yours.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- HISTORY (END) -->

  <!-- ADVISORY BOARD -->
  <section id="board">
    <div class="container pb-5">
    <h1 class="raleway py-5 text-center">Advisory Board</h1>
      <div class="container" id="tyler">
        <!-- TYLER WAYE -->
        <div class="d-flex flex-wrap justify-content-center">
          <div class="member-container">
            <div class="image-container">
              <img src="{{ url_for('static', filename='img/board/headshots/tyler1.jpg') }}" alt="Tyler Waye">
            </div>
            <div class="name">
              <strong>Tyler Waye</strong>
              <p class="board-position">
                Board Chairman
              </p>
              <p class="text-muted">
                IN.FORM Series
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="d-flex flex-wrap justify-content-center">



        <!-- CARLA CUGLIETTA -->
        <div class="member-container d-inline-flex flex-column-reverse">
          <div class="image-container">
            <img src="{{ url_for('static', filename='img/board/headshots/carla1.jpg') }}" alt="Carla Cuglietta">
          </div>
          <div class="name">
            <strong>Carla Cuglietta</strong>
            <p class="board-position">
              Board Member
            </p>
            <p class="text-muted" id="carla">
              Executive Director YoungLeaders.World
            </p>
          </div>
        </div>
        <!-- SHELDON SMART -->
        <div class="member-container d-inline-flex flex-column-reverse">
          <div class="image-container">
            <img src="{{ url_for('static', filename='img/board/headshots/sheldon.jpg') }}" alt="Sheldon Smart">
          </div>
          <div class="name">
            <strong>Sheldon Smart</strong>
            <p class="board-position">
              Board Member
            </p>
            <p class="text-muted">
              The United Way
            </p>
          </div>
        </div>
        <!-- CAROLYN MAH -->
        <div class="member-container d-inline-flex flex-column-reverse">
          <div class="image-container">
            <img src="{{ url_for('static', filename='img/board/headshots/carolyn.jpg') }}" alt="Carolyn Mah">
          </div>
          <div class="name">
            <strong>Carolyn Mah</strong>
            <p class="board-position">
              Board Member
            </p>
            <p class="text-muted">
              Kingsgate Legal
            </p>
          </div>
        </div>
        <!-- SHADILLE ESTEPAN-->
        <div class="member-container d-inline-flex flex-column-reverse">
          <div class="image-container">
            <img src="{{ url_for('static', filename='img/board/headshots/shadille.jpg') }}" alt="Carolyn Mah">
          </div>
          <div class="name">
            <strong>Shadille Estepan</strong>
            <p class="board-position">
              Board Member
            </p>
            <p class="text-muted" id="shadille">
              Born This Way Foundation
            </p>
          </div>
        </div>
        <!-- KATHRYN WIEGERS -->
        <div class="member-container d-inline-flex flex-column-reverse">
          <div class="image-container">
            <img src="{{ url_for('static', filename='img/board/headshots/kathryn.jpg') }}" alt="KATHRYN WIEGERS">
          </div>
          <div class="name">
            <strong>Kathryn Wiegers</strong>
            <p class="board-position">
              Board Member
            </p>
            <p class="text-muted" id="kathryn">
              Kathryn Weigers Communications Inc.
            </p>
          </div>
        </div>
        <!-- Anna Cuglietta -->
        <div class="member-container d-inline-flex flex-column-reverse">
          <div class="image-container">
            <img src="{{ url_for('static', filename='img/board/headshots/anna.jpg') }}" alt="Anna Cuglietta">
          </div>
          <div class="name">
            <strong>Anna Cuglietta</strong>
            <p class="board-position">
              Board Member
            </p>
            <p class="text-muted">
              Stuart Olson
            </p>
          </div>
        </div>
        <!-- Kelly Kimo -->
        <div class="member-container d-inline-flex flex-column-reverse">
          <div class="image-container">
            <img src="{{ url_for('static', filename='img/board/headshots/kelly.jpg') }}" alt="Kelly Kimo">
          </div>
          <div class="name">
            <strong>Kelly Kimo</strong>
            <p class="board-position">
              Board Member
            </p>
            <p class="text-muted">
              Production World
            </p>
          </div>
        </div>
        <!-- Krista Leicht -->
        <div class="member-container d-inline-flex flex-column-reverse">
          <div class="image-container">
            <img src="{{ url_for('static', filename='img/board/headshots/krista.jpg') }}" alt="Krista Leitch">
          </div>
          <div class="name">
            <strong>Dr. Krista Leicht</strong>
            <p class="board-position">
              Board Member
            </p>
            <p class="text-muted">
              Alberta Hospital
            </p>
          </div>
        </div>
        <!-- Lois Harder -->
        <div class="member-container d-inline-flex flex-column-reverse">
          <div class="image-container">
            <img src="{{ url_for('static', filename='img/board/headshots/lois.png') }}" alt="Lois Harder">
          </div>
          <div class="name">
            <strong>Dr. Lois Harder</strong>
            <p class="board-position">
              Board Member
            </p>
            <p class="text-muted" id="lois">
              Peter Lougheed Leadership College
            </p>
          </div>
        </div>
        <!-- Chris Koch -->
        <div class="member-container d-inline-flex flex-column-reverse">
          <div class="image-container">
            <img src="{{ url_for('static', filename='img/board/headshots/chris (1).png') }}" alt="Chris Koch">
          </div>
          <div class="name">
            <strong>Chris Koch</strong>
            <p class="board-position">
              Board Member
            </p>
            <p class="text-muted">
              If I Can
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ADVISORY BOARD (END) -->

  <!-- SWIPER SCRIPT -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      loop: true,
      autoplay: {
        delay: 2000,
        disableOnInteraction: false,
      },
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
    });    
  </script>
  <!-- SWIPER SCRIPT (END)-->

  <script src="{{url_for('static',filename='libs/carousel.js')}}"></script>
{% endblock content %}