{% extends "page00_skeleton.html" %}
{% block title %}Video Resources{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='page05_videoresources.css')}}" />

<!-- MODAL. -->
    
<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <!-- <div class="modal-header text-left">
      <h4 class="modal-title w-100 font-weight-bold">SUBSCRIBE</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
    <div class="modal-body mx-3">
      <p>Subscribe now to get the latest videos from YoungLeaders.World!</p>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-dark"> <a target="_blank" href="https://forms.gle/7JxhKc2NMEYx7AEU9">SUBSCRIBE</a></button>
    </div>
  </div>
</div>
</div>

  <!-- MDOAL END -->
  
  <!-- HEADER -->
  <section id="header">
      <div class="background-container d-flex justify-content-center align-items-center">
          <h1 class="page-title">Video Resources</h1>
          <div class="background-overlay"></div>
      </div>
  </section>
  <!-- HEADER (END) -->

  <section id="introduction">
  </section>

  <!-- VIDEO RESOURCES -->
  <section id="video_resources" class="py-5 container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v7NLHJPfu7I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col series-description">
                <h1 class="raleway">Student's Guide to Success During COVID-19</h1>
                <p class="roboto">Since starting working from home during the COVID-19 pandemic, I've never been more productive... Yeah, right. How can students really finish their school year from home? </p>
            </div>
        </div>
        <div class="py-5"></div>
        <div class="row">
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/42gnBL3sZIw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col series-description">
                <h1 class="raleway">Best Challenge to Improve Motivation</h1>
                <p class="roboto">This is the best challenge you can do for yourself to improve your motivation. By taking part in this motivation challenge, you will be able to impact your own life and inspire others around you. Work hard and get motivated! Don't forget to share this video with a friend and hold each other accountable during your challenge. </p>
            </div>
        </div>
    </div>

    <div class="container text-center pt-5">
        <a href="https://www.youtube.com/channel/UCi-93YXlo7oBYf7jj6T9lvg" target="_blank">
            <img src="{{url_for('static', filename='img/logos/yt1.png')}}" alt="">
        </a>
        <a href="https://www.instagram.com/youngleaders.world/" target="_blank">
            <img src="{{url_for('static', filename='img/logos/ig1.png')}}" alt="">
        </a>
    </div>
    <div class="container text-center pb-5">
        <button class="btn btn-primary"><a target="_blank" href="https://forms.gle/7JxhKc2NMEYx7AEU9">REGISTER NOW</a> </button>
    </div>

    <div class="container text-center mt-5">
        <img src="{{url_for('static', filename='img/video_resources/thrive.png')}}" loading="lazy" alt="">
    </div>
  </section>
  <!-- VIDEO RESOURCES -->

     <!-- <script>
    $(document).ready(function(){
        $("#modalSubscriptionForm").modal('show');
    });
    </script> -->
{% endblock content %}