{% extends "page00_skeleton.html" %}
{% block title %}Courses{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/page09_courses.css') }}">
<div class="container-fluid" id="course-header">
    <h1 class="page-title text-center">
        Courses
    </h1>
</div>

<section id="introduction">
    <h1 class="raleway" >Welcome to the start of something great!</h1>
    <p class="raleway">Here you will find courses that will help you create your ultimate blueprint for success.</p>
</section>



<div class="container-fluid" id="content">
    <div class="course container">
        <a href="https://youngleaders-world.mykajabi.com?wvideo=i2x5uymlpw">
            <img src="{{url_for('static',filename='img/clarity-and-confidence.jpg')}}" alt="">
        </a>
    </div>
    <div class="container">
        <p class="lead raleway">In addition to receiving a <strong style="font-weight: bold;">YoungLeaders.World Personal Leadership Course Certificate</strong>  (GREAT for your resume), through ALL of our courses you will learn...</p>
        <ul class="raleway" style="line-height: 35px;">
            <li>how to turn learning into action </li>
            <li>how to get clear on you and what you actually want for your life</li>
            <li>positive mental health practices</li>
            <li>how to set targets and reach them</li>
            <li>how to create a routine for success</li>
        </ul>
    </div>
    <div class="container-fluid" style="background-color: #088181; color: white; padding: 75px; text-align: center;">
        <h1 class="raleway">WHAT ARE YOU WAITING FOR?</h1>
        <p class="raleway">Our leadership training - offered by internationally renowned experts - has helped thousands of people build a better life.</p>
        <p class="raleway">KEEP SCROLLING TO FIND THE PROGRAM THAT IS RIGHT FOR YOU!</p>
    </div>

    <div class="course container">
        <img width="520" height="292" style="margin-top: 125px;" src="{{ url_for('static', filename='img/clarity-and-confidence.jpg') }}" alt="" id="clear-on-you-photo">
        <div class="course-desc">
            <h1 class="course-title raleway"> <strong>Clarity & Confidence</strong></h1>
            <h3 class="course-subtitle raleway">The Ultimate Personal Leadership Course for Students!</h3>
            <p class="roboto">
                <ul class="raleway">
                    <li>Getting Clear on you</li>
                    <li>Calm anxious thoughts about your future</li>
                    <li>Learn how to identify and articulate your values</li>
                    <li>Set a clear direction for what you want in life</li>
                    <li>Strategies to make good decisions for whatever comes your way</li>
                    <li>Learn how to change your perspective and reframe negative thoughts</li>
                    <li>Positive mental health practices and professional advice</li>
                    <li>Resilience and courage when things don't go as you hoped</li>
                    <li>Vision setting and action plans</li>
                    <li>Establishing daily routines for success</li>
                    <li>Identify and maximize the strengths unique to you</li>
                </ul>
            </p>
            <p class="raleway">Rock this course and you will get a Personal Leadership Certificate from YoungLeaders.World</p>
            <p class="lead raleway">6 Module Course: $97</p>
            <p class="lead raleway"><strong>This course is a game changer. Period</strong> </p>
            <a target="_blank" href="https://youngleaders-world.mykajabi.com/offers/wRLwQqDz/checkout"><button class="btn btn-primary">REGISTER NOW</button></a>
        </div>
    </div>

    <div class="course container">
        <img width="520" height="292" style="margin-top: 100px;" src="{{ url_for('static', filename='img/course/getting-clear-on-you.png') }}">
        <div class="course-desc">
            <h1 class="course-title raleway"> <strong>Getting Clear On You</strong></h1>
            <h3 class="course-subtitle raleway">Get Clarity on Who You Are and What You Want</h3>
            <p class="roboto"> 
                <br>
                <ul class="raleway">
                    <li>Getting clear on you</li>
                    <li>Learn how to identify and articulate your values</li>
                    <li>Set a clear direction for your life</li>
                    <li>Establishing routines for success</li>
                </ul>
            </p>
            <p class="lead raleway">Successful completion of this course will get a Personal Leadership: Getting Clear Certificate</p>
            <p class="lead raleway">3 Module Course: $47</p>
            <a target="_blank" href="https://youngleaders-world.mykajabi.com/offers/3RetZCzn/checkout"><button class="btn btn-primary">REGISTER NOW</button></a>
        </div>
    </div>

    <div class="course container">
        <img width="520" height="352" style="margin-top: 125px;" src="{{ url_for('static', filename='img/course/motivation-and-action.jpg') }}" alt="" id="mindset-photo">
        <div class="course-desc">
            <h1 class="course-title raleway"> <strong>Motivation & Action</strong></h1>
            <h3 class="course-subtitle raleway">Your <i>Get Off the Couch</i> and <i>Do THIS THING</i>  Course</h3>
            <p class="roboto"> 
                <ul class="raleway">
                    <li>Take back control of your day</li>
                    <li>Decide where you want to your life to go and learn how to create action plans that work</li>
                    <li>Establish new and healthy routines</li>
                    <li>Advice and videos from Career Leadership Expert, Tyler Waye</li>
                    <li>Understand career scarring and how to prevent it</li>
                    <li>Motivation practices that work</li>
                    <li>Breaking out of&nbsp;dangerous routines</li>
                </ul>
            </p>
            <p class="lead raleway">Rock this course and get a Personal Leadership Certificate from YoungLeaders.World</p>
            <p class="lead raleway">7 Module Course: $97</p>
            <p class="lead raleway">This course launches in June 2020</p>
            <a target="_blank" href="https://youngleaders-world.mykajabi.com/about-us"><button class="btn btn-primary">MORE INFO</button></a>
        </div>
    </div>

    <div class="course container">
        <img class="img-fluid course-img" style="padding-top: 50px; padding-bottom: 50px;" src="{{ url_for('static', filename='img/main/course-success-series.jpg') }}" alt="">
        <div class="course-desc">
            <h1 class="course-title raleway">Free Student Success Video Series</h1>
            <div class="roboto">
                <p>Topics include:</p>
                <ul>
                    <li>Managing Motivation</li>
                    <li>Establishing A Productive Daily Routine</li>
                    <li>Stress Management</li>
                </ul>
            </div>
            <a target="_blank" href="https://youngleaders-world.mykajabi.com/opt-in"><button class="btn btn-primary">SIGN UP</button></a>
        </div>
    </div>
    
</div>

<div class="container-fluid" id="introduction">
    <p class="roboto"> <br><br> Questions about the courses? Email us at info@youngleaders.world <br><br> </p>
</div>

{% endblock content %}