{% extends "page00_skeleton.html" %} {% block title %}Main{% endblock title %}
{% block content %}
<link
  rel="stylesheet"
  href="{{url_for('static',filename='css/page01_main.css')}}"
/>

<!-- VIDEO -->
<header id="v-header" class="container">
  <div class="fullscreen-video-wrap">
    <video autoplay loop muted="true">
      <source
        src="{{ url_for('static',filename='img/VideoBackground.mp4') }}"
        type="video/mp4"
      />
    </video>
  </div>
  <div class="header-overlay"></div>
  <div
    class="header-container d-flex justify-content-center align-items-center"
  >
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h1 id="quote1" style="padding-top: 40px;">For Growth & Good.</h1>
        </div>
        <div class="swiper-slide">
          <h1 id="quote2">
            Leadership is a <strong>mindset</strong>, <br />
            not a status.
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!--VIDEO END -->

<div class="container-fluid py-5" id="introduction">
  <div class="container">
    <p class="roboto">
      <strong>WELCOME</strong> to <strong>YoungLeaders.World</strong>.
    </p>
    <p class="roboto text-left">
      We are an international non-profit focused on helping youth get clear on
      the leadership skills needed to create a better future. We connect and
      teach through on-line learning, conferences, talks, and annual summits of
      student leaders. Together, we can then get to work on creating an
      inspiring way forward for you and your community.
    </p>
    <!-- <div class="row mt-5 align-items-center justify-content-center">
            <div class="col">
                <img src="{{url_for('static',filename='img/clarity-and-confidence.jpg')}}" alt="">
            </div>
            <div class="col text-left">
                <p class="roboto">DIGITAL COURSES HAVE LAUNCHED!</p>
                <a href="https://youngleaders-world.mykajabi.com/personal-leadership-courses">
                    <button class="btn btn-primary">
                        <div class="btn-text">CHECK IT OUT</div>
                    </button>
                </a>
            </div>
        </div> -->
    <div class="row mt-5 align-items-center justify-content-center">
      <div class="col-lg">
        <img
          src="{{url_for('static',filename='img/main/team_picture_ground.jpg')}}"
          alt=""
          class="img-fluid rounded"
        />
      </div>
      <div class="col-lg text-left">
        <h3 class="raleway">
          Our mission is to create an entire generation of young people focused
          on personal growth and collective good.
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="attention-banner">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h1 class="raleway">
          We believe that leadership is a mindset, not a status. We want to help
          you THINK like a leader.
        </h1>
      </div>
    </div>
  </div>
</div>

<!-- ATTENTION -->
<div class="py-5 container-fluid" id="attention">
  <div class="container text-center">
    <div class="row">
      <h3 class="col roboto text-center">
        We invite you to connect with us the way that works best for you.
      </h3>
    </div>
    <div class="row py-5">
      <div class="col-lg">
        <img
          src="{{ url_for('static', filename='img/main/1summits_conference.jpg') }}"
          alt=""
          class="img-fluid rounded"
        />
      </div>
      <div class="col-lg d-flex justify-content-center flex-column">
        <h3 class="raleway">Summits/Conferences</h3>
        <p class="text-left roboto">
          Our high energy, high impact summits have students away understanding
          the power of personal leadership and collective good. It’s an
          incredible learning experience that has long term positive changes in
          the lives of students and their community. YoungLeaders.World works in
          Canada, China and India.
        </p>
        <a href="{{url_for('events')}}">
          <button class="btn btn-primary">
            <div class="btn-text">LEARN MORE</div>
          </button>
        </a>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-lg">
        <img
          src="{{ url_for('static', filename='img/main/2personal_leadership_courses.jpg') }}"
          alt=""
          class="img-fluid rounded"
        />
      </div>
      <div class="col-lg d-flex justify-content-center flex-column">
        <h3 class="raleway">Personal Leadership Courses</h3>
        <p class="text-left roboto">
          These courses are game-changing in helping youth get the tools they
          need to be successful. These courses can be done on your own, at a
          time that works best for you. Our courses are developed by experts to
          help students who experience anxiety, lack of self-esteem, feelings of
          being overwhelmed or lack of motivation. Find the course that is best
          for you.
        </p>
        <a href="https://www.carlacuglietta.com/learn-more">
          <button class="btn btn-primary">
            <div class="btn-text">LEARN MORE</div>
          </button>
        </a>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-lg">
        <img
          src="{{ url_for('static', filename='img/main/3school_assemblies.jpg') }}"
          alt=""
          class="img-fluid rounded"
        />
      </div>
      <div class="col-lg d-flex justify-content-center flex-column">
        <h3 class="raleway">School Assemblies</h3>
        <p class="text-left roboto">
          Have one of our professional speakers or ambassadors come to your
          school or event.
        </p>
        <div>
          <button
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#ambassadorVisit"
          >
            <div class="btn-text">LEARN MORE</div>
          </button>
          <!-- AMBASSADOR VISIT FORM -->
          <div class="modal" id="ambassadorVisit" data-backdrop="false">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-center">Ambassador Visit</h5>
                  <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form
                    action="https://formspree.io/carla@youngleaders.world"
                    method="POST"
                  >
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input
                            id="name"
                            class="form-control"
                            type="text"
                            name="Name"
                            placeholder="Name"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input
                            id="email"
                            class="form-control"
                            type="email"
                            name="Email"
                            placeholder="Email"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input
                            id="email"
                            class="form-control"
                            type="date"
                            name="Preferred Date"
                            placeholder="Preferred Date"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input
                            type="text"
                            id="city"
                            class="form-control"
                            name="City"
                            placeholder="City"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input
                            id="phone"
                            class="form-control"
                            type="text"
                            name="School Name"
                            placeholder="School Name"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input
                            list="level"
                            class="form-control"
                            name="Education Level"
                            placeholder="Education Level"
                          />
                          <datalist id="level">
                            <option value="Elementary School"></option>
                            <option value="Junior High School"></option>
                            <option value="High School"></option>
                            <option value="University"></option>
                          </datalist>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <div class="form-group">
                          <input
                            type="text"
                            id="number"
                            class="form-control"
                            name="Number Of People"
                            placeholder="# of people"
                          />
                        </div>
                      </div>
                    </div>

                    <div>
                      <p>
                        <span class="send-btn">
                          <input
                            id="btn"
                            class="btn btn-primary"
                            type="submit"
                            value="SEND"
                          />
                        </span>
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- AMBASSADOR VISIT FORM -->
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-lg">
        <img
          src="{{ url_for('static', filename='img/main/4international_development.jpg') }}"
          alt=""
          class="img-fluid"
          style="border-radius: 0.75rem !important;"
        />
      </div>
      <div class="col-lg d-flex justify-content-center flex-column">
        <h3 class="raleway">International Development</h3>
        <p class="text-left roboto">
          YoungLeaders.world is proud to partner with students and women around
          the world to build a better life through leadership education.
        </p>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-lg">
        <img
          src="{{ url_for('static', filename='img/main/5free_video_resources.jpg') }}"
          alt=""
          class="img-fluid rounded"
        />
      </div>
      <div class="col-lg d-flex justify-content-center flex-column">
        <h3 class="raleway">Free Video Resources</h3>
        <p class="text-left roboto">
          Check out some of these free video resources made to help you succeed.
        </p>
        <a href="https://www.carlacuglietta.com/pl/174982">
          <button class="btn btn-primary">
            <div class="btn-text">LEARN MORE</div>
          </button>
        </a>
      </div>
    </div>
    <!-- <img
      width="1000"
      height="auto"
      id="success-series"
      src="{{ url_for('static', filename='img/main/student_success_phone.jpg') }}"
      alt=""
      class="img-fluid mt-5"
    />
    <h3 class="pt-3 raleway text-center">
      Click here for 3 free videos to get you motivated and into a routine for
      success
    </h3>
    <a href="{{url_for('videoresources')}}">
      <button class="btn btn-primary">
        <div class="btn-text">CHECK IT OUT</div>
      </button>
    </a> -->
  </div>
</div>

<!-- STATISTICS -->
<section id="statistics" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="raleway">
          For Young Leaders, <br />
          By Young Leaders
        </h1>
        <hr class="my-3" />
      </div>
    </div>
    <div class="row pt-1">
      <p class="roboto text-center">
        We collaborate with young people around the world to help them discover
        life leadership. YL.W is dedicated to helping young people, ages 13-21,
        understand how to develop a leader mindset. How to think like a leader,
        make decisions like a leader and articulate your goals. We believe
        leadership is a mindset, not a status.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="box-1" class="box">
          <div class="box-inner">
            <img
              src="{{url_for('static',filename='img/logos/student.png')}}"
              alt=""
              class="logo"
            />
            <h2 onscroll="" class="counter pt-0">
              <span
                data-purecounter-start="9999"
                data-purecounter-end="11507"
                class="purecounter"
                >0</span
              >
            </h2>
            <p class="pt-1">Student Leaders Trained</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div id="box-2" class="box">
          <div class="box-inner">
            <img
              src="{{url_for('static',filename='img/logos/mtn.png')}}"
              alt=""
              class="logo"
            />
            <h2 class="counter">
              <span
                data-purecounter-start="0"
                data-purecounter-end="13"
                data-purecounter-delay="200"
                class="purecounter"
                >0</span
              >
            </h2>
            <p class="pt-2">Leadership Summits Executed</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div id="box-3" class="box">
          <div class="box-inner">
            <img
              src="{{url_for('static',filename='img/logos/globe.png')}}"
              alt=""
              class="logo"
            />
            <h2 class="counter pt-0">
              <span
                data-purecounter-start="0"
                data-purecounter-end="20"
                data-purecounter-delay="150"
                class="purecounter"
                >0</span
              >
            </h2>
            <p class="pt-2">Countries Accessing Our Resources</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- STATISTICS (END) -->

<!-- PARTNERS -->
<section id="partners" class="py-5">
  <div class="container container-partners">
    <div class="text-center">
      <h1 class="raleway">YoungLeaders.World's IMPACT sponsor is</h1>
      <!-- <hr class="my-5"> -->
    </div>
    <div class="d-flex flex-wrap justify-content-center mt-4">
      <div class="partner-container text-center">
        <a href="http://www.rbcroyalbank.com/" target="_blank">
          <img
            src="{{ url_for('static', filename='img/partners/rbc.png') }}"
            id="rbc"
            alt="RBC"
            loading="lazy"
            width="200"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="container container-friends">
    <div class="text-center my-5">
      <hr class="my-5" />
      <h1 class="raleway">YoungLeaders.World's work is supported by</h1>
    </div>
    <div class="d-flex flex-wrap justify-content-center mt-4">
      <div class="partner-container">
        <a href="https://edmonton.ctvnews.ca/" target="_blank">
          <img
            src="{{ url_for('static', filename='img/partners/ctv(1).png') }}"
            alt="CTV News"
            style="margin-top: 15px;"
            loading="lazy"
        /></a>
      </div>
      <div class="partner-container">
        <a href="http://www.productionworld.ca/" target="_blank">
          <img
            src="{{ url_for('static', filename='img/partners/production_world(1).png') }}"
            alt="Production World"
            style="margin-top: 25px;"
            loading="lazy"
          />
        </a>
      </div>
      <div class="partner-container">
        <a href="http://www.eedc.ca/" target="_blank">
          <img
            src="{{ url_for('static', filename='img/partners/eedc(1).png') }}"
            alt="Edmonton Economic Development"
            loading="lazy"
        /></a>
      </div>
      <div class="partner-container">
        <a href="http://informseries.com/" target="_blank">
          <img
            src="{{ url_for('static', filename='img/partners/inform(1).png') }}"
            alt="In.Form Series"
            style="margin-top: 0px;"
            loading="lazy"
        /></a>
      </div>
      <div class="partner-container">
        <a href="https://www.tylersirman.com/" target="_blank">
          <img
            src="{{ url_for('static', filename='img/partners/tsp(1).png') }}"
            alt="Tyler Sirman Photography"
            style="margin-top: -20px;"
            loading="lazy"
        /></a>
      </div>
      <div class="partner-container">
        <a href="http://foundryevents.ca/" target="_blank">
          <img
            src="{{ url_for('static', filename='img/partners/foundry.png') }}"
            alt="Foundry Events"
            style="margin-top: 0px;"
            loading="lazy"
        /></a>
      </div>
      <div class="partner-container">
        <a href="http://www.thomasculture.ca/" target="_blank">
          <img
            src="{{ url_for('static', filename='img/partners/thomas_culture.png') }}"
            alt="thomas_culture"
            style="margin-top: -10px;"
            loading="lazy"
        /></a>
      </div>
      <div class="partner-container">
        <a href="https://www.chateaulacombe.com/" target="_blank">
          <img
            src="{{ url_for('static', filename='img/partners/chateau.png') }}"
            alt="Chateau Lacombe"
            style="margin-top: 0px; margin-left: 15px;"
            loading="lazy"
        /></a>
      </div>
    </div>
  </div>
</section>
<!-- PARTNERS (END) -->

<!-- SOCIAL MEDIA -->
<section id="social">
  <div class="container pt-5 text-center">
    <h1 class="raleway">Follow Us!</h1>
    <hr class="my-5" />
  </div>

  <div class="container pb-5">
    <div class="d-flex justify-content-center">
      <div class="icon-container">
        <a
          href="https://www.facebook.com/youngleadersworldtour/"
          target="_blank"
        >
          <img
            src="{{url_for('static', filename='img/logos/fb.png')}}"
            alt=""
            class="logo"
          />
        </a>
      </div>
      <div class="icon-container">
        <a href="https://www.instagram.com/youngleaders.world/" target="_blank">
          <img
            src="{{url_for('static', filename='img/logos/ig.png')}}"
            alt=""
            class="logo"
          />
        </a>
      </div>
      <div class="icon-container">
        <a
          href="https://www.youtube.com/channel/UCi-93YXlo7oBYf7jj6T9lvg"
          target="_blank"
        >
          <img
            src="{{url_for('static', filename='img/logos/yt.png')}}"
            alt=""
            class="logo"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="instagram-container">
    <!-- LightWidget WIDGET -->
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
    <iframe
      src="https://cdn.lightwidget.com/widgets/da9cd2dd1c685af980e5a823ec87413e.html"
      scrolling="no"
      allowtransparency="true"
      class="lightwidget-widget"
      style="width: 100%; border: 0; overflow: hidden;"
    ></iframe>
  </div>
  <div class="py-5"></div>
</section>
<!-- SOCIAL MEDIA -->

<!-- SWIPER SCRIPT -->
<script>
  var swiper = new Swiper(".swiper-container", {
    direction: "horizontal",
    loop: true,
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
  });
</script>
<!-- SWIPER SCRIPT (END)-->

<script src="{{ url_for('static',filename='libs/purecounter.js') }}"></script>

{% endblock content %}
