{% extends "page00_skeleton.html" %}
{% block title %}Speakers{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='page03_speakers.css')}}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='libs/parallax.min.js') }}"></script>

<!-- HEADER -->
<section id="header">
    <div class="background-container d-flex justify-content-center align-items-center">
        <h1 class="page-title">Speakers</h1>
        <div class="background-overlay"></div>
    </div>
</section>
<!-- HEADER (END) -->

<!-- INTRODUCTION -->
<section id="introduction">
    <div class="container py-4">
        <div class="row">
            <div class="col">
                <p>
                    YoungLeaders.World is proud to work with an incredible group of people from around the world who
                    live
                    out the message of personal growth and collective good in their day to day lives. We select only
                    engaging speakers who have the ability to leave an impression on their audience. If you are
                    interested
                    in having someone from our team speak at your school event, conference or gathering, contact us
                    at
                    <a href="mailto:speaking@youngleaders.world">speakers@youngleaders.world</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- INTRODUCTION(END) -->



<!-- SPEAKERS -->
<section id="speakers">
    <!-- CARLA CUGLIETTA -->
    <div id="carla" class="speaker-container text-white" data-parallax="scroll" data-z-index="1" data-image-src="{{ url_for('static', filename='img/speakers/carla2.gif') }}">
        <div class="speaker-description container">
            <div class="row">
                <div class="col-sm-12 col-lg-7 offset-lg-5">
                    <h2 class="display-2">Carla Cuglietta</h2>
                    <div class="lead wow fadeInUp">
                        <p>
                            Carla Cuglietta is a Canadian born educator, consultant, humanitarian and keynote speaker. Over the last 20 years she has been involved in global projects in Mexico, El Salvador, Costa Rica, China, Laos, India, Sierra Leone and Uganda.  <br> <br>
                            Carla is the Executive Director and Co-founder of YoungLeaders.World, an international non-profit organization whose aim is to help young people understand that leadership is a mindset, not a status. To date, YL.W has trained over 11,000 youth worldwide in the area of personal growth and collective good. She has spoken to thousands more through her keynote speaking tours. <br>
                            <br>
                            Carla has been awarded the Canadian Prime Minister's Certificate of Achievement, the University of Alberta Alumni of Distinction for her work in engaging youth in Canada.  In addition, she has been awarded the YWCA Woman of Distinction and the Lions Club International Humanitarian Award for her leadership and humanitarian work around the world.
                            <br>

                            <button class="btn btn-primary mt-5">
                                <div class="btn-text"><a href="mailto: speakers@youngleaders.world?subject=Book Carla Cuglietta">Book Carla</a></div>
                            </button>
                            <button class="btn btn-primary mt-5">
                                <a target="_blank" href="https://www.youtube.com/watch?v=gISxUpdYCHc&feature=youtu.be">See Carla's Speakers Video</a>
                            </button>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TYLER WAYE -->
    <div id="tyler" class="speaker-container text-white" data-parallax="scroll" data-z-index="1" data-image-src="{{ url_for('static', filename='img/speakers/tyler.jpg') }}" data-position-y="0px">
        <div class="speaker-description container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <h2 class="display-2">Tyler Waye</h2>
                    <div class="lead wow fadeInUp">
                        <p>
                            Tyler is the Co-Founder of YLW, the President of IN.FORM Series and a leadership
                            strategist.
                            He authored the ground-breaking book “I Went to School That Long for This?!” Tyler is a
                            leadership and strategy instructor with Executive Education at the University of
                            Alberta,
                            and has leadership development videos on YouTube with over a million views. He is
                            currently
                            the producer and host of the docu-series, Work Around the World, where he lives and
                            works in
                            12 different countries to study the future of work.
                            <br> <br>
                            Tyler is a regular contributor in media, continually featured on TV, radio and in
                            leading
                            publications. Tyler as a Master of Arts degree in Leadership and was named Top 40 Under
                            40
                            by Avenue magazine.
                            <br>
                            <button class="btn btn-primary mt-5">
                                <div class="btn-text"><a href="mailto: speakers@youngleaders.world?subject=Book Tyler Waye">Book Tyler</a></div>
                            </button>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- LAUREN WHITE -->
    <div id="lauren" class="speaker-container text-white" data-parallax="scroll" data-z-index="1" data-image-src="{{ url_for('static', filename='img/speakers/lauren.jpg') }}" data-position-x="-300px">
        <div class="speaker-description container">
            <div class="row">
                <div class="col-sm-12 col-lg-7 offset-lg-5">
                    <h2 class="display-2">Lauren White</h2>
                    <div class="lead wow fadeInUp ">
                        <p>
                            When Lauren was nine years old, she fell in love with filmmaking and storytelling and
                            started to post YouTube videos online. Since then, she worked for years as Creative
                            Director
                            for a group of children's YouTube channels with millions of subscribers. Her early
                            success
                            in her career allowed her to travel the world, reaching every continent in an effort to
                            learn as much as she can about global and social issues. At fourteen, she combined her
                            passions of stories, film, and speaking and started a multi-platform mission to engage
                            students in their communities and encourage them to reach outside their comfort zones,
                            weaving in her own stories about thriving in spite of hardships with OCD and an eating
                            disorder. Additionally, Lauren has raised thousands of dollars for education projects in
                            Tanzania, led petitions and campaigns in support of Gay-Straight Alliances in Alberta,
                            blogged about volunteerism, played for Team Canada Junior Roller Derby, and led ongoing
                            bake
                            sales for school development. Now, Lauren is twenty years old and has moved to Toronto.
                            She
                            is one of only thirteen Undergraduate Screenwriting Students in Canada for her year, and
                            has
                            started her own business working in photography and videography.
                            <br>
                            <button class="btn btn-primary mt-5">
                                <div class="btn-text"><a href="mailto: speakers@youngleaders.world?subject=Book Lauren White">Book Lauren</a></div>
                            </button>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CHRIS KOCH -->
    <div id="chris" class="speaker-container text-white" data-parallax="scroll" data-z-index="1" data-image-src="{{ url_for('static', filename='img/speakers/chris.jpg') }}" data-position-y="50px">
        <div class="speaker-description container">
            <div class="row">
                <div class="col-sm-12 col-lg-5">
                    <h2 class="display-2">Chris Koch</h2>
                    <div class="lead wow fadeInUp">
                        <p>
                            Chris Koch is a farmer, athlete, adventurer and international speaker. His message is to
                            encourage and challenge others to make the most out of life. His goal is to help people
                            see opportunities instead of obstacles by sharing his message of "If I Can". When Chris
                            is not climbing towers or racing marathons for charity, he is traveling the world using
                            his life to inspire others.
                            <br> <br>
                            He speaks all over Canada and the United States as well as Australia, Cambodia, Nepal,
                            China and Malaysia. He has been a keynote for Google, Apple, and TEDx. Chris' incredible
                            story has also been profiled on the Oprah Winfrey Network's, Super Soul Sunday and Dr.
                            Oz. Chris will share personal stories that will leave you motivated and inspired to take
                            on adventures of your own.
                            <br>
                            <button class="btn btn-primary mt-5">
                                <div class="btn-text"><a href="mailto: speakers@youngleaders.world?subject=Book Chris Koch">Book Chris</a></div>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JOSH CLASSEN -->
    <div id="josh" class="speaker-container text-white" data-parallax="scroll" data-z-index="1" data-image-src="{{ url_for('static', filename='img/speakers/josh.jpg') }}">
        <div class="speaker-description container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <h2 class="display-2">Josh Classen</h2>
                    <div class="lead wow fadeInUp">
                        <p>
                            Josh is a graduate of the Broadcast Meteorology program at Mississippi State University
                            and
                            a NAIT grad.

                            <br>

                            In 2017, he won the NAIT’s first-ever Alumni Award of Excellence.

                            <br> <br>

                            He’s a member of Avenue Magazine’s “Top 40 under 40” – class of 2011, and consistently
                            wins
                            “BEST OF” awards from the readers of Avenue Magazine & the St Albert Gazette.

                            <br> <br>

                            When he’s not working, Josh is heavily involved in the community, volunteering his time
                            and
                            talents to 3 or 4 different events/organizations each week.

                            <br> <br>

                            He also spends several hours each week grooming the forecasters of the future. Thousands
                            of
                            Edmonton & area children have had a chance to take part in his “Weather Watcher”
                            program.
                            <br>
                            <button class="btn btn-primary mt-5">
                                <div class="btn-text"><a href="mailto: speakers@youngleaders.world?subject=Book Josh Classen">Book Josh</a></div>
                            </button>



                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SHAYNE COWAN-CHOLETTE -->
    <div id="shayne" class="speaker-container text-white" data-parallax="scroll" data-z-index="1" data-image-src="{{ url_for('static', filename='img/speakers/shayne.jpg') }}" data-position-y="-100px">
        <div class="speaker-description container">
            <div class="row">
                <div class="col-sm-12 col-lg-11">
                    <h2 class="display-2">Shayne Cowan-Cholette</h2>
                    <div class="lead wow fadeInUp">
                        <p>
                            Shayne Cowan-Cholette is a proven leader: a professional educator, a Golden Key
                            International Society member and a national award-winning athlete and stage performer.
                            What
                            is he most proud of? Being honored as a Valedictorian of the 2018 Bishop's University
                            graduation and turning his idea into a reality by creating the "Purple Canada Tour" <br>
                            <br>
                            The Purple Canada Tour is a social project that took Shayne across Canada to spread
                            goodness
                            and tell the stories of the nation's unsung heroes. <br> <br>
                            Shayne sees the world as a place of never-ending opportunity. He has spent the last six
                            years of his academic and professional career finding ways to inspire others to live
                            through
                            curiosity, to think outside the box and to take risks. Now, Shayne is about to embark on
                            another journey of self discovery and vulnerability, as he aspires to be a professional
                            Canadian actor. <br> <br>
                            During the YoungLeaders.World tour, Shayne will continue on his mission to teach others,
                            and
                            inspire potential innovators to "Go Where The Fear Is".
                            <br>
                            <button class="btn btn-primary mt-5">
                                <div class="btn-text"><a href="mailto: speakers@youngleaders.world?subject=Book Shayne">Book Shayne</a></div>
                            </button>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JER SWIGART -->
    <div id="jer" class="speaker-container text-white" data-parallax="scroll" data-z-index="1" data-image-src="{{ url_for('static', filename='img/speakers/jer.jpg') }}">
        <div class="speaker-description container">
            <div class="row">
                <div class="col-sm-12 col-lg-6 offset-lg-7">
                    <h2 class="display-2">Jer Swigart</h2>
                    <div class="lead wow fadeInUp">
                        <p>
                            Jer Swigart is a social innovator, an organizer, a professor, and the cofounder of the
                            peacemaking training organization, The Global Immersion Project. As a modern-day
                            peacemaker,
                            Jer has found himself working for restoration in beautifully bizarre corners of our
                            world.
                            Whether in the tribes of northern Pakistan, the slums of India, the red-light districts
                            of
                            Southease Asia, the violence of Israel and Palestine, or the racial injustice of his own
                            neighborhood; Jer loves people in a way that disarms violence and overcomes divides. His
                            engagement within national and international confluts has formed him into a guide for
                            emergin leaders as they seek to develop peace in our worl. Jer travels the glove as a
                            consultant, trainer, and speaker, and is the co-author of Mending the Devides: Creative
                            Love
                            in a Conflicted World (IVP, 2017)
                            <br>
                            <button class="btn btn-primary mt-5">
                                <div class="btn-text"><a href="mailto: speakers@youngleaders.world?subject=Book Jer Swigart">Book Jer</a></div>
                            </button>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GRACIE SCHRAM -->
    <!-- <div id="gracie" class="speaker-container text-white" data-parallax="scroll" data-z-index="1" data-image-src="{{ url_for('static', filename='img/speakers/gracie.jpg') }}" data-position-y="-400px">
        <div class="speaker-description container">
            <div class="row">
                <div class="col-sm-12 col-lg-5 offset-lg-6">
                    <h2 class="display-3">Gracie Schram</h2>
                    <div class="lead wow fadeInUp">
                        <p>
                            Singer/Songwriter/Philanthropist Gracie Schram hails from Kansas City, but her music has
                            taken her around the world performing in London, Sweden, China, Brazil, and more.
                            Schram’s
                            indie-pop sound continues to win her new fans on tour, opening for artists including
                            David
                            Archuleta and Ingrid Michaelson. Schram's latest release, Dear Fall, hit #2 on iTunes
                            and
                            lead single, Anywhere You Go, was played on Sirius XM The Pulse. Gracie’s career is
                            firmly
                            rooted in her humanitarian spirit. Since her debut album, she has raised nearly $50,000
                            to
                            build an orphanage in Haiti, two fish ponds in Africa and a home in Colombia. Overall,
                            her
                            mission is to change the world through the power of music.
                            <br>
                            <button class="btn btn-primary mt-5">
                                <div class="btn-text"><a href="mailto: speakers@youngleaders.world?subject=Book Gracie Schram">Book Gracie</a></div>
                            </button>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!-- STEPHEN ROBINSON -->
    <div id="stephen" class="speaker-container text-white" data-parallax="scroll" data-z-index="1" data-image-src="{{ url_for('static', filename='img/speakers/stephen.jpg') }}" data-position-y="-100px">
        <div class="speaker-description container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <h2 class="display-2">Stephen Robinson</h2>
                    <div class="lead wow fadeInUp">
                        <p>
                            For the past 3 years, from building a robot to baking a cake, to crocheting a tie,
                            Stephen
                            has learned over 100 unique skills and documented the process of learning those skills
                            on
                            his YouTube channel "52skillz" and TV show "How To Learn Anything". Throughout this
                            experience, Stephen has become a master of learning new skills in the most effective and
                            enjoyable way possible, and now would like to share his incie with the world. Failure,
                            persistence, surrounding yourself with good people, understanding your "why" and the
                            importance of goal setting are all topics Stephe touches on in his content and public
                            appearances.
                            <br>
                            <button class="btn btn-primary mt-5">
                                <div class="btn-text"><a href="mailto: speakers@youngleaders.world?subject=Book Stephen Robinson">Book
                                        Stephen</a></div>
                            </button>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- SPEAKERS (END)-->
{% endblock content %}