{% extends "page00_skeleton.html" %}
{% block title %}Video Resources{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='page05_videoresources.css')}}" />

<!-- MODAL. -->
    
<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <!-- <div class="modal-header text-left">
      <h4 class="modal-title w-100 font-weight-bold">SUBSCRIBE</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
    <div class="modal-body mx-3">
      <p>Subscribe now to get the latest videos from YoungLeaders.World!</p>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-dark"> <a target="_blank" href="https://forms.gle/7JxhKc2NMEYx7AEU9">SUBSCRIBE</a></button>
    </div>
  </div>
</div>
</div>

  <!-- MDOAL END -->
  
  <!-- HEADER -->
  <section id="header">
      <div class="background-container d-flex justify-content-center align-items-center">
          <h1 class="page-title">Video Resources</h1>
          <div class="background-overlay"></div>
      </div>
  </section>
  <!-- HEADER (END) -->

  <section id="introduction">
    <p class="container text-center">Motivational Personal Leadership Series <br> by Tyler Waye And Carla Cuglietta </p>
  </section>

  <!-- VIDEO RESOURCES -->
  <section id="video_resources" class="py-5">

    <div class="container text-center">
        <img src="{{url_for('static', filename='img/video_resources/thrive.png')}}" loading="lazy" alt="">
    </div>

      <!-- <div class="container py-4">
          <div class="row">
              <div class="col">
                  <div class="video-container">
                      <iframe width="900" height="506" src="https://www.youtube.com/embed/-wpufFqNin0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
              </div>
          </div>
        <p>How do you prepare for the future when you don't know what the future looks like? Why leadership is the most critical thing we can teach our young people. </p>
      </div>

      <div class="container py-4">
          <div class="row">
              <div class="col">
                  <div class="video-container">
                      <iframe width="1519" height="554" src="https://www.youtube.com/embed/0MhOT2pkKZ4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <div class="video-description">
                      <p>What is truly behind greatness. Extraordinary people can do extraordinary things, but rarely
                          on
                          their own.</p>

                  </div>
              </div>
          </div>
      </div>

      <div class="container py-4">
          <div class="row">
              <div class="col">
                  <div class="video-container">
                      <iframe width="1519" height="554" src="https://www.youtube.com/embed/ENi3Bv7y38w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <div class="video-description">
                      <p>This is the single most important factor in having a successful future and taking control of
                          your life, can you engage?
                      </p>
                  </div>
              </div>
          </div>
      </div>

      <div class="container py-4">
          <div class="row">
              <div class="col">
                  <div class="video-container">
                      <iframe width="1519" height="554" src="https://www.youtube.com/embed/u_RNCKMQT6s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <div class="video-description">
                      <p>What is standing between you and your goals...hard work. It is how great things happen. </p>
                  </div>
              </div>
          </div>
      </div>

      <div class="container py-4">
          <div class="row">
              <div class="col">
                  <div class="video-container">
                      <iframe width="1519" height="554" src="https://www.youtube.com/embed/pcgKbzxMKJA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <div class="video-description">
                      <p>Want to change the world? Want to leave it better than you found it? You can, in a small and
                          gentle way, shake the world with your actions.
                      </p>
                  </div>
              </div>
          </div>
      </div>

      <div class="container py-4">
          <div class="row">
              <div class="col">
                  <div class="video-container">
                      <iframe width="1519" height="554" src="https://www.youtube.com/embed/Fh1Y_A3cYVY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <div class="video-description">
                      <p>You have now graduated, you reached someone else's bar, now it's time to set out your own
                          bar.
                          It's time for life leadership.</p>

                  </div>
              </div>
          </div>
      </div>

      <div class="container py-4">
          <div class="row">
              <div class="col">
                  <div class="video-container">
                      <iframe width="1519" height="554" src="https://www.youtube.com/embed/-UkziOoMbEs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <div class="video-description">
                      <p>When you feel like there is no where else to go but up.</p>

                  </div>
              </div>
          </div>
      </div> -->
  </section>
  <!-- VIDEO RESOURCES -->

  <script>
    $(document).ready(function(){
        $("#modalSubscriptionForm").modal('show');
    });
</script>
{% endblock content %}