{% extends "page00_skeleton.html" %}
{% block title %}Contact{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='page08_contact.css')}}" />

<!-- HEADER -->
<section id="header">
    <div class="background-container d-flex align-items-center justify-content-center">
        <h1 class="page-title">Let Us Know</h1>
        <div class="background-overlay"></div>
    </div>
</section>
<!-- HEADER (END) -->

<!-- INTRODUCTION -->
<section id="introduction">
    <div class="container py-4">
        <div class="row">
            <div class="col">
                We know that YoungLeaders.World's leadership training can have a profound impact on lives. We want to hear how it has helped you in your journey. Please <a href="https://docs.google.com/forms/d/1Bd_NbUti9NdhutWv1ZbOmMiBcTM2tLwPR6m0j7rtN1Q/viewform?ts=5e5b0c78&edit_requested=true">let us know!</a> 
            </div>
        </div>
    </div>
</section>
<!-- INTRODUCTION -->

<!-- BODY -->
<section id="main">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2369.4181108963608!2d-113.4572680842967!3d53.56815418002612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53a02245b7850ae3%3A0x931beafa1d55a8a9!2sEdmonton+Expo+Center%2C+Northlands+Expo!5e0!3m2!1sen!2sca!4v1563997243436!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-5">
                <h2 class="raleway">YoungLeaders.World Office</h2>
                <p>Edmonton Expo Centre <br>
                    7515 118 Ave NW. Edmonton, Alberta Canada <br> T5B 0J2</p>
                <p>If you have any questions, please complete the form below and we will get back to you as soon as
                    we can! </p>

                <form action="https://formspree.io/carla@youngleaders.world" method="POST">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input id="name" class="form-control" type="text" name="Name" placeholder="Name..." required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input id="email" class="form-control" type="email" name="Email" placeholder="Email..." required />
                            </div>
                        </div>
                    </div>
                    <div class="message">

                        <div class="form-group">
                            <textarea id="msg" class="form-control" name="Message" placeholder="Your Message..." required></textarea>
                        </div>
                    </div>
                    <div style="width: 100%;">
                        <input id="btn" class="btn btn-primary" type="submit" value="SEND" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<!-- BODY -->

<!-- FAQS -->
<section id="faq">
    <div class="container">
        <h2>Frequently Asked Questions</h2>
        <hr>
    </div>
    <div class="container">
        <p class="question"><span class="Q">Q</span>What's the difference between Day 1 and Day 2 at Vision2020?</p>
        <p class="answer"><span class="A">A</span>Day 1, on April 7th, 2020, is a high-energy, high-impact event that costs $20 to attend and includes keynote speeches, a community organization-led IMPACT zone, live music, reflective work time, and more. Day 1 takes place in Hall D at the Edmonton Expo Centre. <br> Day 2, on April 8th, 2020, consists of small workshops in an intimate setting with the keynotes from Day 1. Day 2 costs $70, this includes a ticket to Day 1. </p>
        <hr style="width: 25%;" class="my-4">
        <p class="question"><span class="Q">Q</span>When is Vision2020?</p>
        <p class="answer"><span class="A">A</span>The summit on April 7th, 2020 (Day 1) is from approximately 9:30am to 2:30pm, and the day 2 workshops on April 8th, 2020 are from 9:30am to 3:00pm - Busses should arrive around 9:00 am for dropoff and 2:40 pm for pickup.</p>
        <hr style="width: 25%;" class="my-4">
        <p class="question"><span class="Q">Q</span>How do I get in?</p>
        <p class="answer"><span class="A">A</span>You can buy tickets, and even pay online <a href="https://docs.google.com/forms/d/e/1FAIpQLSfJGRwa4R0M_W7DB2yjJXHYUxCI3BVITAk8_31fA8X6TpswOg/viewform">here</a>. Students in grades 8 through 12 are encouraged to approach their teachers to buy tickets for multiple students all at once, and book a bus for dropoff.</p>
        <hr style="width: 25%;" class="my-4">
        <p class="question"><span class="Q">Q</span>I want to attend on my own, not with my school, how does that work?</p>
        <p class="answer"><span class="A">A</span>You're welcome to come as an individual or with a parent or friend. Registration is online, we will mail your ticket to your home.</p>
        <hr style="width: 25%;" class="my-4">
        <p class="question"><span class="Q">Q</span>Can I pay at the door?</p>
        <p class="answer"><span class="A">A</span>Yes. In order to streamline the registration at the door, we're trying to register and receive payments ahead of time. Funneling 3000 people into an event can be challenging - but we'll take cash, mastercard, or visa at the door (may be subject to transaction fees).</p>
        <hr style="width: 25%;" class="my-4">
        <p class="question"><span class="Q">Q</span>Is lunch provided?</p>
        <p class="answer"><span class="A">A</span>No. Please bring a lunch.</p>
        <hr style="width: 25%;" class="my-4">
        <p class="question"><span class="Q">Q</span>Can I attend if I am not in Grade 8-12?</p>
        <p class="answer"><span class="A">A</span>If you are a University student, a professional, parent, or anyone else above the age of 13, you're welcome to attend. This Summit is for all ages 13 and up.</p>
        <hr style="width: 25%;" class="my-4">
    </div>
</section>
<!-- FAQS -->
{% endblock content %}