{% extends "page00_skeleton.html" %}
{% block title %}Opportunities{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='page07_opportunities.css')}}" />

<!-- HEADER -->
<section id="header">
    <div class="background-container d-flex justify-content-center align-items-center">
    <h1 class="page-title">OPPORTUNITIES</h1>
    <div class="background-overlay"></div>
    </div>
</section>
<!-- HEADER (END) -->

<!-- INTRODUCTION -->
<section id="introduction">
    <div class="container py-4">
        <div class="row">
            <div class="col">
                <p style="font-size: 1.5rem;">
                    We love when <strong>leadership</strong> and <strong>passion</strong>  come together
                </p>
            </div>
        </div>
    </div>
</section>
<!-- INTRODUCTION -->

<section id="main-content" class="py-5">
    <div class="container position">
        <div class="row">
            <h2 style="font-size: 3rem">Paid Positions</h2>
        </div>
        <div class="row">
            <h3>If you are passionate about athletics and you have attended one or more YoungLeaders.World conferences or courses, we encourage you to apply for: </h3>
        </div>
        <div class="d-flex justify-content-around align-items-center mt-5">
            <div>
                <img src="{{ url_for('static', filename='img/partners/athletics_alberta.png') }}" alt="">
            </div>
            <div>
                <h2>Positions coming soon</h2>
            </div>
        </div>
    </div>
    <div class="py-3">
        <div class="container"><hr></div>
    </div>
    <div class="container position">
        <div class="row">
            <h2 style="font-size: 3rem">Volunteer Positions</h2>
        </div>
        <div class="row">
            <h3>The following are volunteer opportunities that are available with organizations that we are aligned with: </h3>
        </div>
        <div class="d-flex justify-content-around align-items-center mt-5">
            <div>
                <img style="width: 250px;" src="{{ url_for('static', filename='img/logos/ylwlogo.png') }}" alt="">
            </div>
            <div class="text-center">
                <h2>YL.W Student Internship</h2>
                <p>Read <a href="{{ url_for('static', filename='docs/YLW Internship Info 2020 2021 (2).pdf') }}">here</a> for more information</p>
            </div>
        </div>
        <div class="d-flex justify-content-around align-items-center mt-5">
            <div>
                <img src="{{ url_for('static', filename='img/partners/athletics_alberta.png') }}" alt="">
            </div>
            <div>
                <h2>Positions coming soon</h2>
            </div>
        </div>
    </div>
</section>


{% endblock content %}