@import "page00_skeleton";

#header{
    .background-container{
        background: #000 url(../static/img/student_working.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: 50vh;
        background-position: center;
        color: white;
        position: relative;
        z-index: 0;
        background-attachment: fixed;
        
        .background-overlay{
            background: black; 
            opacity: 0.2;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }   
}

.content{
    display: flex;
    flex-direction: column;

    .position-type{
        display: flex;
        flex-direction: column;
    }

    .positions{
        margin-top: 50px;
    }
}

.position-logo{
    width: 250px;
    height: 250px;

    img{
        width: 100%;
        height: auto;
    }
}