@import 'page00_skeleton';

#course-header{
    background: url(../img/course/laptop.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.page-title{
    padding-top: 20vh;
    height: 50vh;
    color: white;
}

#content{
    background: #f5f5f5;
}

.course{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    @media (min-width: 768px){ 
        flex-direction: row;
    }

    .course-img{
        width: 100%;
        height: auto;

        @media (min-width: 768px){ 
            width: 40vw;
        }
        @media (max-width: 964px) and (min-width: 769px) {
            width: 50%;
            height: 350px;
        }
    }

    .course-desc{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: left;
        padding: 10px 50px;
        flex: 6;

        button{
            width: 50%;
        }
    }
}

#mindset{
    @media (max-width: 768px){ 
        .course-desc{
            order: 2;
        }
        img{
            order: 1;
        }
    }
}