@import "page00_skeleton";

$primary: #26B3BF;
$gray: #322B2B;

#header{
    .background-container{
        background: #000 url(../static/img/wtg_bg.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-position: center;
        color: white;
        position: relative;
        z-index: 0;
        background-attachment: fixed;
        
        .background-overlay{
            background: black; 
            opacity: 0.2;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }    
}

#ways_to_give{
    background-color: #1e1f55;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%231e1f55' cx='50' cy='0' r='50'/%3E%3Cg fill='%231c2961' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2319346d' cx='50' cy='100' r='50'/%3E%3Cg fill='%23133e78' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23084984' cx='50' cy='200' r='50'/%3E%3Cg fill='%2300538f' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23005e99' cx='50' cy='300' r='50'/%3E%3Cg fill='%230069a3' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%230074ad' cx='50' cy='400' r='50'/%3E%3Cg fill='%230080b6' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23008bbf' cx='50' cy='500' r='50'/%3E%3Cg fill='%230097c7' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300a2cf' cx='50' cy='600' r='50'/%3E%3Cg fill='%2300aed6' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300b9dc' cx='50' cy='700' r='50'/%3E%3Cg fill='%2300c5e3' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300d1e8' cx='50' cy='800' r='50'/%3E%3Cg fill='%2328dcee' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%233ee8f2' cx='50' cy='900' r='50'/%3E%3Cg fill='%2352f3f7' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2365fffb' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;

    .padding{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .padding_between{
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .gray_box{
        background: rgba(0, 0, 0, 0.5);

        .left_box{
            background: rgba(0, 0, 0, 0.5);
            margin-left: -15px;
            height: 200px;
            width: 200px;
        }

        .price{
            padding-top: 15px;
            padding-left: 1.5rem;
        }

        .lead{
          font-size: 25px;
          padding-left: 30px;
          font-weight: bold;
        }

        p{
            color: white;
            // padding-left: 10px;

            span{
              padding-right: 10px;
            }
        }

        h1{
            color: white;
            font-size: 70px;
        }

        ul{
            list-style-type: none;
        }
    }

    
    
}