@import "page00_skeleton";
  
#mission_vision{
    font-size: 1.5rem;
    background: #f5f5f5;
    text-align: center;
    padding-bottom: 50px;        
}
  
#header{
    .background-container{  
    background: #000 url(../static/img/clouds.gif) no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-position: center;
    color: white;
    position: relative;
    z-index: 0;
    background-attachment: fixed;
        
        .background-overlay{
            background: black; 
            opacity: 0.1;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }    
}

  
#team{
    background: white;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;

    .swiper-container {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 125px;
    }
    .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 300px;
    background: black;
    }
    
    h2{
        padding-top: 5px;
        font-size: 2.3rem;
        text-align: center;
    }
    h3{
        font-size: 1rem;
        text-align: center;
    }
}
    
#history{
    position: relative;
    background: url(../static/img/edmonton_bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.5;

    width: 100%;
    height: 100%;
    }
}

#board{
background: url(../static/img/screen.jpg) no-repeat;
background-size: cover;
    .container{
        box-sizing: border-box;
    }


    .member-container{
        position: relative;
        width: 200px;
        height: 370px;
        background: #f5f5f5;
        text-align: center;
        margin: 0px 15px 15px 0px;
        box-shadow: 3px 3px 5px 0px black;
        
        .image-container{
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;

            img{
                width: 100%;
            }
        }

        .name{
        position: absolute;
        top: 270px;
        width: 100%;

            strong{
            color: #26B3BF;
            font-size: 1.4rem;
            font-weight: bold;
            }
            .board-position{
            padding: 0;
            margin: 0;
            }
            .text-muted{
            padding: 0;
            }

            #carla{
            font-size: 0.8rem;
            }

            #kathryn{
            font-size: 0.8rem;
            }
            #lois{
            font-size: 0.8rem;
            }
            #shadille{
            font-size: 0.9rem;
            }

        }
        
    }
    
    
}
  
#footer{
    color: white;
    background:black;
    text-align: center;
}
  
@media (max-width: 766px) and (min-width: 300px) {

p{
    font-size: 16px;
}
.navbar-toggler{
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 0.25rem;
    margin-right: 20px;
}

.navbar-collapse{
    margin-top: 20px;
}

.navbar{
    .logo-container{
    img{
        margin-left: -20px;
    }
    }
    .nav-item{
    a{
        text-align: left;
        font: 1.5rem Raleway !important;
        margin: 5px 5px !important;
    }
    }
}

#board{
    .member-container{
        margin: 0px 0px 20px 0px;
    }
}

#footer{
    .col{
    padding-left: 30px;
    padding-top: 20px;
    }
}
}

@media (max-width: 990px) and  (min-width: 767px){
    .v-header{
    .header-content{
        h1{
        
        font-size: 75px;
        margin-bottom: 0;
        text-shadow: 5px 5px 5px #26B3BF;
        }
    }
    }

    .navbar-toggler{
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 0.25rem;
    }

    .navbar{
    .nav-item{
        padding-right: 2px;
        a{
        font: 1rem Raleway !important;
        // margin: 10px 10px !important;
        }
    }
    }

    .glider-contain{
    width: 75% !important;
    }

    #board{

    }

    #footer{
        font-size: 0.9rem;
    }
}
  
  