@import "page00_skeleton";

body{
    background-color: #f5f2f2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23187091' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23317eb5' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%235cadc0' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%236fbcbe' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23679ec3' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23457894' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%236f98c8' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%234394be' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2353649c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%233187c1' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%238895cc' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23223768' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;

    iframe{
        width: 100%;
        height: 50vh;
    }
}

#header{

    .background-container{
        background: #000 url(../img/crowd1.webp) no-repeat;
        background-size: cover;
        width: 100%;
        height: 50vh;
        background-position: center;
        color: white;
        position: relative;
        z-index: 0;
        background-attachment: fixed;
        
        .background-overlay{
            background: black; 
            opacity: 0.2;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }    
}

.modal-open{
    padding:0 !important;
    overflow-y: auto;
}

.modal-title{
    font-family: 'Raleway', serif !important;
    text-transform: uppercase;
    margin-left: auto;
}

.modal-dialog{
    max-width: 700px;
}

.modal-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#summits{
    position: relative;

    #events-flex-container{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;

        #ambassador-visit-img{
          background: url(../img/summits/leaders_forum.jpg);
          // background-position: center;
          background-size: cover;
          height: 400px;
          width: 500px;
        }
      }

    #speaker-container-section{
        .btn{
            height: 100%; 
            width: 100%;
        }

        .btn:hover{
            border: #4fbfc9 solid 5px;
        }

        .speaker-container{
            padding: 0px 5px 0px 5px;
            margin: 35px 0px 35px 0px;
            width: 200px;
            height: 200px;
        }

        .speaker-name{
            // text-shadow: 3px 3px 7px black;
            color: black;
            font-size: 20px;
            margin-bottom: 0;
        }

        #sarah-wells{
            background: url(../img/speakers/vision2020/sarah.gif);
            background-position: center;
        }
        #dillon-mendes{
            background: url(../img/speakers/vision2020/dillon.gif);
            background-position: center;
        }
        #shadille-estepan{
            background: url(../img/speakers/vision2020/shadille.gif);
            background-position: center;
        }
    }

    #day-two-container-section{
        a{
            text-decoration: none;
            color: black;
            text-shadow: none;
        }
        a:hover{
            color: #4fbfc9;
        }
        p{
            font-size: 20px;
            text-align: left;
        }    
        i{
            color: #26b3bf;
            margin-left: -20px;
            padding-right: 10px;
        }
        ul{
            padding-inline-start: 15px;
        }   
        
        .workshop-desc{
            p{
                color: black;
                text-shadow: none;
                font-size: 14px;
            }
            .workshop-logo{
                width: 25%;
                padding: 1rem;
                img{
                    width: 100%;
                }
            }
        }

        .card-header{
            padding: 10px 0px 0px 30px;
        }
        .card-body{
            padding: 10px 10px 0px 0px;
        }
    }

    #speakers-container{
        // padding-left: 10px;
        // padding-right: 30px;
        .img-container{
            width: 200px;
            height: 200px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 15px;
            margin-bottom: 15px;
            
        }
        .img-container-1{
            width: 150px;
            height: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        .speaker-name-1{
            // text-shadow: 3px 3px 7px black;
            color: black;
            font-size: 20px;
            padding-top: 155px;
        }
        #josh{
            background: url(../img/speakers/vision2020/josh.gif);
            background-position: center;
        }
        #paul{
            background: url(../img/speakers/vision2020/paul.gif);
            background-position: center;
        }
        #carla{
            background: url(../img/speakers/vision2020/carla.gif);
            background-position: center;
        }
        #ty{
            background: url(../img/speakers/vision2020/tyler.gif);
            background-position: center;
        }
        #lauren{
            background: url(../img/speakers/vision2020/lauren.gif);
            background-position: center;
        }
        #chris{
            background: url(../img/speakers/vision2020/chris.gif);
            background-position: center;
        }
    }

    #event-details-container{
        padding: 10px 10px 10px 10px;

        @media (max-width: 766px) and (min-width: 300px){
            padding: 0 0 0 0;
        }
    }

    #insights-from{
        margin: 0;
        @media (max-width: 766px) and (min-width: 300px){
            margin-top: 50px;
        }
    }

    #paul-woida-container{
        position: relative;

        .img-container{
            margin: 15px 0px 15px 15px;
            @media (max-width: 766px) and (min-width: 300px) { 
                margin: 15px 0px 15px 0px;
            }

            .img-fluid{
                max-width: 100%;
            }
        }

        .beside-img-container{
            h1{
                color: black;
                text-shadow: none;
            }
            p{
                color: black;
                text-shadow: none;
            }
            margin-top: auto;
            margin-bottom: auto;
            padding-right: 50px;
        }
    }
}

#past-events{
    background: url(../img/summits/black_and_white_lake.jpg) center;
    background-size: cover;

    h1{
        text-align: center;
        color: white;
        text-shadow: 3px 3px 10px black;
    }
    p{
        text-align: center;
        color: white;
        text-shadow: 3px 3px 10px black;
    }

    .events-container{
        padding: 80px 0px 80px 0px;
    }

    img{
        border-radius: 10px;
        box-shadow: white 0px 0px 10px;
    }
}

#past-summits{
    h1{
        text-align: center;
        color: white;
        text-shadow: 3px 3px 10px black;
    }
    p{
        text-align: center;
        color: white;
        text-shadow: 3px 3px 10px black;
    }
    .past-conferences-container{
        padding-left: 30px;
        padding-right: 30px;
        .single-conference-container{
            width: 300px;
            height: 300px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 80px;
            margin-bottom: 20px;
            border: white solid 2px;
            box-shadow: #F5F2F2 0px 0px 10px;
            border-radius: 10px;

            .conference-text{
                padding-top: 300px;
                color: white;

                p{
                    font-size: 20px;
                    margin-bottom: 2px;   
                }
            }
        }

        #intensive-conference-1{
            background: url(../img/summits/edmonton1.jpg);
            background-size: cover;
            background-position: center;
        }
        #intensive-conference-2{
            background: url(../img/summits/edmonton2.jpg);
            background-size: cover;
            background-position: center;
        }
        #intensive-conference-3{
            background: url(../img/summits/edmonton3.jpg);
            background-size: cover;
            background-position: center;
        }

        // CHINA
        #china-1{
            background: url(../img/summits/schools/hope_international_school.gif);
            background-size: cover;
            background-position: center;
        }
        #china-2{
            background: url(../img/summits/schools/beijing_city_international_school.gif);
            background-size: cover;
            background-position: center;
        }
        #china-3{
            background: url(../img/summits/schools/qingdao_amerasia_international_school.gif);
            background-size: cover;
            background-position: center;
        }
        #china-4{
            background: url(../img/summits/schools/concordia_international_school.gif);
            background-size: cover;
            background-position: center;
        }
        #china-5{
            background: url(../img/summits/schools/suzhou_international_school.gif);
            background-size: cover;
            background-position: center;
        }



    }  
    
}

//!  GOOD CSS
#text-beside-pencil{
    h1{
        font-size: 35px;
    }
    h3{
        color: black;
        text-shadow: none;
    }
    p{
        color: black;
        font-size: 1rem;
    }
}

.blue-border{
    background: white; 
    border: #26b3bf solid 5px;
}

@media (max-width: 576px){ 
    #current-event{
        .d-flex{
            flex-direction: column;
        }
        img{
            width: 80%;
        }
    }
}